.tabs-conteiner {
  background-color: $white;
  padding: 20px;
  border-bottom: 1px solid $bs-tabs-btn;
  border-right: 1px solid $bs-tabs-btn;
  border-left: 1px solid $bs-tabs-btn;
  border-radius: 0px 2.5px 2.5px 2.5px;
}

.nav-link {
  color: $bs-primary-color;
  &:hover {
    color: $bs-primary-color;
  }
}

.icon-style-tabs {
  font-size: 16px;
  line-height: 24px;
  color: #0a0a0a;
  font-weight: 500;
}
.icon-style-tabs-figur {
  width: 31px;
  height: 25px;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  color: $bs-primary-color;
  background-image: none;
}
