#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,
body {
  margin: 0;
  height: 100%;
  background-color: #efefef;
}

.wrapper {
  flex: 1 0 auto;
}
.container {
}
.tabs-conteiner {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
}
footer {
  flex-shrink: 0;
  background-color: #ffffff;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
